body{
    background-color: #0068b3;
    overflow-x: hidden;
    overflow-y: auto;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #d9efff;
    border-bottom: #0068b3 groove 1px;
}

@font-face{
    font-family: 'minhaFont';
    src: url(../FONT/Faktos.ttf);
}

header h1{
    justify-self: center;
    font-family: 'minhaFont';
    display: flex;
    align-items: center;
    text-shadow: 7px 5px 6px rgb(0, 0, 0, 0.3);
}

main{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main p{
    text-align: justify;
}

main img
{
    margin-left: auto !important;
    margin-right: auto !important;
}

footer{
    background-color: #0068b3;
    color: #ffffff;
    text-align: center;    
}

.outros{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    padding: 0px;
}

.div-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.primary{
    border: 2px groove white;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secundary{
    display: flex;
    flex-direction: column;
}

.secundary h3, .secundary p
{
    text-align: left;
}

.ajuste{
    height: auto !important;
}

.btn-custom{
    display: flex !important;
    justify-content: left !important;
    align-items: center !important;
    margin: 0px !important;
}

.outros .div-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outros .primary{
    border: 2px groove white;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outros .secundary{
    display: flex;
    flex-direction: column;
}

.outros .secundary h3
{
    text-align: left;
}

.outros .btn-custom{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.multi-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Config para pc */
@media only screen and (min-width: 800px) {
    header{
        width: 100vw;
        height: 12vh;
    }
    
    header img{
        width: 20vw;
    }
    
    header h1{
        width: 20vw;
        margin-left: 20vw;
        font-size: 3vw;
        height: 12vh;
    }

    main{
        height: 78vh;
        padding-top: 5vh;
    }

    footer{
        height: 10vh;    
    }

    .img-body{
        width: 20vw;
        margin-bottom: 5vh;
        margin-top: 5vh;
    }

    .primary img{
        width: 5vw;
    }

    .primary{
        width: 7vw;
        height: 7vw;
    }

    .btn-custom{
        width: 80vw;
        height: 19vh;
        margin-bottom: 2vh !important;
    }

    .outros .primary img{
        width: 5vw;
    }

    .outros .primary{
        width: 7vw;
        height: 7vw;
    }

    .outros .btn-custom{
        width: 13vw;
        height: 30vh;
        margin-right: 2vw !important;
    }

    .outros{
        width: 90vw;
        height: 35vh;
    }

    .outros .secundary h3{
        font-size: 1vw;
    }

    main iframe{
        width: 683px; 
        height: 384px; 
    }
    
    .aumentar-img{
        width: 60vw;
    }
}

/* Config para celular */
@media only screen and (max-width: 800px) {
    header{
        width: 100vw;
        height: 12vh;
    }
    
    header img{
        width: 40vw;
    }
    
    header h1{
        width: 50vw;
        margin-left: 5vw;
        font-size: 7vw;
        height: 12vh;
    }

    main{
        height: 78vh;
        padding-top: 5vh;
    }

    footer{
        height: 10vh;
        font-size: 3vw;    
    }

    .img-body{
        width: 50vw;
        margin-bottom: 5vh;
    }

    main h2{
        font-size: 6vw;
    }

    main h3{
        font-size: 5vw;
    }

    .primary img{
        width: 20vw;
    }

    .primary{
        width: 30vw;
        height: 30vw;
    }

    .btn-custom{
        width: 80vw;
        height: 19vh;
        margin-bottom: 2vh !important;
    }

    .secundary{
        width: 46vw;
        overflow: hidden;
        height: 30vw;
    }

    .secundary h3{
        font-size: 5vw;
    }

    .secundary p{
        font-size: 4vw;
    }

    .outros .primary img{
        width: 15vw;
    }

    .outros .primary{
        width: 20vw;
        height: 20vw;
    }

    .outros .secundary{
        width: 37vw !important;
        height: auto !important;
    }

    .outros .btn-custom{
        width: 40vw;
        height: 23vh;
        margin-right: 2vw !important;
    }

    .outros .secundary h3{
        font-size: 4vw;
    }

    .outros{
        width: 100vw;
        height: 32vh;
    }

    .aumentar-img{
        width: 85vw;
    }

    .diminuir-img{
        width: 60vw;
    }

    .espacar-imagens{
        width: 60vw;
    }

    .break-cell{
        justify-content: center !important;
        flex-direction: column !important;
    }
}
    